<% layout('./layouts/boilerplate') %> 
<h1>Homepage</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt enim laborum nulla quis, aliquam ex velit quasi fugit accusamus earum! Quibusdam laudantium ullam quod harum placeat recusandae corrupti, dolores fuga.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum iure nihil veritatis aut molestiae architecto, repellendus ratione assumenda nisi ipsa ut ipsam saepe aliquam sunt iusto esse velit blanditiis illum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat minima culpa pariatur officiis? Perferendis, minima. Dolores hic vitae fugit. Natus quos quia officia nisi aut iure iste in, enim eos?
</p>
<h2>Section 1</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolores neque fugit ipsum earum mollitia nobis possimus modi? Commodi fugiat cumque placeat sunt quidem voluptatibus autem quod saepe tempore architecto!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolores neque fugit ipsum earum mollitia nobis possimus modi? Commodi fugiat cumque placeat sunt quidem voluptatibus autem quod saepe tempore architecto!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolores neque fugit ipsum earum mollitia nobis possimus modi? Commodi fugiat cumque placeat sunt quidem voluptatibus autem quod saepe tempore architecto!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolores neque fugit ipsum earum mollitia nobis possimus modi? Commodi fugiat cumque placeat sunt quidem voluptatibus autem quod saepe tempore architecto!</p>