<% layout('/layouts/boilerplate') %> 
    <h1>Sign Up</h1>
    <form action="/register" method="POST">
        <div>
            <label for="user">Enter Username</label>
            <input type="text" placeholder="Username" id="user" name="user[username]">
        </div>
        <div>
            <label for="password">Enter Password</label>
            <input type="password" placeholder="Password" id="password" name="user[password]">
        </div>
        <button class="submit">Submit</button>
    </form>