<% layout('/layouts/boilerplate') %>
    <h1 class="title">Secret page</h1>
    <section class="section">
        <article>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos saepe, at possimus omnis eveniet iure est
                ea repellat totam officia qui unde ipsum sed? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Repellendus doloribus eaque, voluptatibus iste atque qui aliquid quo enim ipsam dolor. A nulla vitae
                eligendi itaque sint ratione, maxime perspiciatis. Non facere eveniet iste odit eligendi? Lorem ipsum
                dolor sit, amet consectetur adipisicing elit. Eos saepe, at possimus omnis eveniet iure est ea repellat
                totam officia qui unde ipsum sed? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus
                doloribus eaque, voluptatibus iste atque qui aliquid quo enim ipsam dolor. Earum a nulla vitae eligendi
                itaque sint ratione, maxime perspiciatis. Non facere eveniet iste odit eligendi?</p>
            <h3>New Paragraph</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis voluptatem, commodi quod perspiciatis
                facere ipsum voluptates ipsa porro, sed unde id. Dicta, ipsam tempora non libero autem accusantium
                consequuntur reprehenderit.
                Veniam magni rerum architecto tempora natus sapiente quisquam assumenda corporis reiciendis sed quis
                dolores laborum veritatis nihil facere, voluptate vitae! Nemo dicta adipisci voluptatem delectus
                suscipit optio facilis consequatur ex.</p>
            <form action="/logout" method="POST"><button class="btn-logOut">Sign Out</button></form>
        </article>
        <aside class="side">
            <h3>Section</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia cum sint aliquid excepturi deserunt harum
                doloremque ad, qui omnis tenetur laborum similique ipsam facere. Expedita, cum esse? Laboriosam, sunt
                adipisci!</p>
            <ul>
                <li>User 1</li>
                <li>User 2</li>
                <li>User 3</li>
                <li>User 4</li>
                <li>User 5</li>
                <li>User 6</li>
            </ul>
        </aside>
    </section>