<nav class="navbar">
    <div class="logo-container">
        <a href="/" class="logo">Home</a>
    </div>
    <ul class="link-container">
        <li><a href="/secret" class="nav-link">Secret Page</a></li>
        <li><a href="/register" class="nav-link">Register</a></li>
        <li><a href="/login" class="nav-link">Login</a></li>
    </ul>
</nav>