<footer class="footer">
        <ul class="footer-link-container">
            <li class="footer-link"><a href="">Contact</a></li>
            <li class="footer-link"><a href="">Copyright</a></li>
        </ul>
</footer>